$alpha-dark-01: rgba($color: #000000, $alpha: 0.8);

$gray-00: #000000;
$gray-01: #fffaf4;
$gray-10: #ffffff;


$color-dark: #1c3041;
$color-primary: #008285;
$color-secondary: #6ac5c3;

$modalLayer: $alpha-dark-01;

$background-dark: $color-dark;
$background-light: $gray-01;
$background-primary: $color-primary;
$background-secondary: $color-secondary;

$font-dark: $color-dark;
$font-light: $gray-01;
$font-primary: $color-primary;
$font-secondary: $color-secondary;