@import "../../styles/variables/colors";
@import "../../styles/variables/dimensions";

.EventCard {    
    padding: 1em;
    border-radius: $radius;
    background-color: $background-dark;
    color: $font-light;

    .EventCard__name {
        text-align: center;
    }

    .EventCard__dates {
        margin-top: 2em;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}