@import "../variables/colors";
@import "../variables/dimensions";

html,body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    background-color: $background-dark;
    font-family: sans-serif;
    color: $font-dark;
}

#root {
    width: 100%;
    height: 100%;
}

.App {
    width: 100%;
    height: 100%;

    .App__title {
        text-align: center;
        color: $font-secondary;
        text-transform: uppercase;
    }
}

.mainContainer {
    max-width: 42em;
    margin: 0 auto;
    padding: 2em;
    border-radius: $radius;
    background-color: $background-light;
}